fastapi
uvicorn
python-multipart
transformers
torch
torchaudio
torchvision
librosa
opencv-python-headless
soundfile
optimum[onnxruntime]

ffmpeg-python
onnxruntime
matplotlib

facenet-pytorch

uniface[gpu]
